ul {
    text-decoration: none;
    list-style: none;
    text-align: left;
}

.User-Profile {
    float: right;
    width: 40%;
    margin: 10px;
    min-height: 200px;

    background: rgba(236, 240, 241, 0.185);
    border: 0.1px rgb(53, 20, 20) solid;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
  
.ChatBox-Container  {
    float: left;
}