.ChatBox-Container {
  border: 1px solid black;
  width: 80%;
  height: 200px;
  max-height: 500px;
  margin-left: 10%;
  margin-bottom: 10px;

  background: #ebedee;
  border: 0.1px #97a1a7 solid;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

  display: grid;
  grid-template-columns: [users] 20% [username] 10% [message] auto;
  grid-template-rows: [title] 10% [messages] auto [input] 10%;
}

.ChatBox-Title {
  margin: 0;
  padding: 0;
  background: #ebedee;
  grid-row: title / span 1;
  grid-column: users / -1;
  border: black 1px solid;
  align-self: center;

  border: 0.1px #97a1a7 solid;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.Users-Online {
  padding: none;
  grid-row: messages / -1;
  grid-column: users / span 1;
}
.Users-List {
  padding: 2px;
  list-style-type: none;
}

.MessageInput {
  float: left;
  width: 100%;
  background: lightblue;
  grid-row: input/ -1;
  grid-column: username / -1;
}

.Messages {
  margin-top: 2px;
  border: 1px #97a1a7 solid;
  width: 100%;
  grid-row: messages/ span 1;
  grid-column: username / -1;
  
  overflow: auto;
}

.Message {
  margin: 4px;
  width: 80%;
  float: left;
}

.MessageText {
  float: left;
  background: white;
  width: 30%;
}

.Time-Sent {
    font-size: 15px;
    float: left;
    border: 0.1px solid #ebedee;
    background: #f8f9f9;
}

.Sender {
  float: left;
  background: rgb(0, 0, 0);
  margin: 0 5px 0 5px;

  background: linear-gradient(
    90deg,
    rgba(127, 198, 231, 0.295) 0%,
    rgba(53, 137, 201, 0.24) 100%
  );
}

.Input-Username {
  float: left;
  margin-left: 10px;
}

.Input-Text {
  float: right;
  width: 70%;
}
