ul {
    text-decoration: none;
    list-style: none;
    text-align: left;
}

.User-Profile {
    float: right;
    width: 40%;
    margin: 10px;
    min-height: 200px;

    background: #f8f9f9;
    border: 2px #7f8a93 solid;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    color: #374047;
}
  
.ChatBox-Container  {
    float: left;
}